<section class="home-organizer-and-partner">
  <div class="home-partner-company">
    <div class="home-partner-company-child">
      <div class="home-partner-shape-one">
        <!-- <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-partner-shape-one.png?updatedAt=1717400701898"
          alt="home-partner-shape-one"
          class="home-partner-shape-one"
        

        /> -->
        <img class="home-partner-shape-one" src="../../../../assets/images/brand/contactuscircle.png" alt=" home-partner-shape-one">
        <!-- <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-partner-shape-second.png?updatedAt=1717400694166"
          alt="home-partner-shape-second"
        /> -->
        
      </div>
      <!-- END! home-partner-shape-one -->

      <div class="home-partner-company-img" *ngIf="false">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-partner-company-img.svg?updatedAt=1717400692430"
          alt="home-partner-company-img"
        />
      </div>
      <!-- END! home-partner-company-img -->
    </div>
  </div>
  <!-- END! home-partner-company -->

  <div class="home-organizer-and-partner-flower-shape">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-organizer-and-partner-flower-shape.svg?updatedAt=1717400689206"
      alt="home-organizer-and-partner-flower-shape"
      class="home-organizer-and-partner-flower-shape"
    />
    <!-- <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-organizer-and-partner-flower-shape-two.png?updatedAt=1717400687106"
      alt="home-organizer-and-partner-flower-shape-two"
      class="home-organizer-and-partner-flower-shape-two"
    /> -->
  </div>

  <div class="sponsors">
    <a href="mailto:arkastudiobangladesh@gmail.com">
      <span>Contact Us</span>
      <span>Contact Us</span>
    </a>
    
  </div>
  <div class="flower2">
    <img src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/flower2.png?updatedAt=1717400683345" alt="">
  </div>

  <div class="sponsors2">
    <img src="../../../../assets/images/brand/sponsors2.png" alt="">
  </div>
  <!-- END! home-organizer-and-partner-flower-shape -->

  <div class="home-organizer-get-ticket">
    <div class="home-organizer-get-ticket-child">
      <img
        src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizer-and-partner/home-organizer-get-ticket.png?updatedAt=1717400694930"
        alt="home-organizer-get-ticket"
      />

      <a href="https://www.tickify.live/events/arka-fashion-week-2024/?fbclid=PAZXh0bgNhZW0CMTEAAaZ4_adJvXNb-t4GlpirMzHdJ7yqPqV--venEPsZQRl4qeIH_ttxRFkc4to_aem_AcTtRevv8_wnS0U7KioY7HlXCBjhZHWWxm5ZcFSsCiLP6AcASYh7w1rap39QjKwVj2jVlimMFLh5kKpBVXRogX3J" target="_blank">
        <span>Get Tickets</span>
        <span>Get Tickets</span>
      </a>
    </div>
  </div>
  <!-- END! home-organizer-get-tickets -->

  <div class="home-organizer-copyright-social">
    <ul>
      <li>
        <p>© 2024 ARKA STUDIO</p>
      </li>
      <li>
        <a href="https://www.facebook.com/arkafashionweek?mibextid=LQQJ4d" target="_blank">FACEBOOK</a>
      </li>
      <li>
        <a href="https://www.instagram.com/arkafashionweek?igsh=MWFibXQ3ZDhrcWp6dQ==" target="_blank">INSTAGRAM</a>
      </li>
      
      
    </ul>
    <!-- <ul class="warc">
      <li>
        <a href="https://warc.digital/home" target="_blank">Website By Warc</a>
        </li>
    </ul> -->
  </div>
  <!-- END! home-organizer-copyright-social -->
</section>
