<section class="home-organizers-image">
  <div class="home-organizers-model-image">
    <!-- <img src="./assets/images/brand/png/models-image.png" alt="models-image" /> -->
    <img src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/updatedImg2.png?updatedAt=1717401250363" alt="models-image" alt="">
  </div>
  <!-- END! home-organizers-model-image -->

  <div class="home-organizers-shape-one">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizers-image/home-organizers-shape-one.png?updatedAt=1717400690919"
      alt="home-organizers-shape-one"
    />
  </div>
  <!-- END! home-organizers-shape-one -->

  <div class="home-organizers-title">
    <div class="home-organizers-title-child">
      <div class="home-organizers-title-shape-one">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizers-image/home-organizers-title-shape-one.png?updatedAt=1717400690326"
          alt="home-organizers-title-shape-one"
        />

        <h1>ORGANISERS</h1>
      </div>
      <!-- END! home-organizers-title-shape-one -->

      <div class="home-organizers-title-shape-two">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-organizers-image/home-organizers-title-shape-two.svg?updatedAt=1717400686837"
          alt="home-organizers-title-shape-two"
        />
      </div>
      <!-- END! home-organizers-title-shape-two -->
    </div>
  </div>
  <!-- END! home-organizers-title -->

  <div class="home-organizer-names">
    <!-- <img
      src="./assets/images/brand/shapes/home-organizer-and-partner/home-organizer-name.svg"
      alt="home-organizer-name"
    /> -->
    <img src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/names.png?updatedAt=1717400685401" alt="">
  </div>
  <!-- END! home-organizer-names -->

  <div class="home-organizer-tag">
    <h1>
      Democratizing Fashion
      <br />
      <!-- Fashion United -->
    </h1>
  </div>

  <div class="home-hero-shape-two">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/home-hero-shape-two.png?updatedAt=1717400702516"
      alt="home-hero-shape-two"
    />
  </div>
  <!-- END! home-hero-shape-two -->
</section>
<!-- END! home-organizers-image -->
