@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-Light.otf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-Regular.otf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-Medium.otf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-Bold.otf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-SemiBold.otf);
}

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}