// Fonts Family
$font-en-primary: "Space-Grotesk", sans-serif;

//Container
$container-max-width: 1296px;

// COLOR
$color-primary: #487CFF;
$heading-color: #1d2d5d;
$text-color: #60698D;
$color-black: #000000;
$color-danger: #d40000;
$color-bg: #fff;
$color-white: #ffffff;