<section class="home-hero">
  <div class="home-hero-shape-one">
    <img src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/home-hero-shape-one.png?updatedAt=1717400702408"
      alt="home-hero-shape-one"
    />
  </div>
  <!-- END! home-hero-shape-one -->

  <div class="box">
    <div class="fashion-week">
    <div class="fashion-week-child">
      <div class="fashion-week-first-shape">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-first-shape.png?updatedAt=1717400694956"
          alt="fashion-week-first-shape"
        />
      </div>
      <!-- END! fashion-week-first -->

      <div class="fashion-week-second-shape">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-second-shape.png?updatedAt=1717400701277"
          alt="fashion-week-second-shape"
        />
      </div>
      <!-- END! fashion-week-second-shape -->

      <div class="fashion-week-three-shape">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-three-shape.svg?updatedAt=1717400698747"
          alt="fashion-week-three-shape"
        />
      </div>
      <!-- END! fashion-week-three-shape -->

      <div class="fashion-week-four-shape">
        <div class="fashion-week-four-shape-child">
          <div class="fashion-week-four-shape-child-shape">
            <img
              src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-four-shape.png?updatedAt=1717400700269"
              alt="fashion-week-four-shape"
            />
          </div>

          <div class="fashion-week-four-shape-child-details">
            <img
              src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-image.svg?updatedAt=1717400697456"
              alt="fashion-week-image"
            />
          </div>
        </div>
      </div>
      <!-- END! fashion-week-three-shape -->

      <div class="fashion-week-five-shape">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-five-shape.png?updatedAt=1717400695346"
          alt="fashion-week-five-shape"
        />
      </div>
      <!-- END! fashion-week-three-shape -->
    </div>
  </div>
  </div>
  
  <!-- END! fashion-week -->

  <div class="fashion-week-date">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-date.svg?updatedAt=1717400693879"
      alt="fashion-week-date"
    />
  </div>
  <!-- END! fashion-week-date -->

  <div class="fashion-week-location">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-location.svg?updatedAt=1717400698333"
      alt="fashion-week-location"
    />
  </div>
  <!-- END! fashion-week-date -->

  <div class="fashion-week-tickets">
    <div class="fashion-week-tickets-child">
      <div class="fashion-week-ticket-shape">
        <img
          src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/fashion-week-get-ticket.png?updatedAt=1717400701557"
          alt="fashion-week-get-ticket"
        />
      </div>
      <!-- END! fashion-week-ticket-shape -->

      <div class="fashion-week-ticket-link">
        <a href="https://www.tickify.live/events/arka-fashion-week-2024/?fbclid=PAZXh0bgNhZW0CMTEAAaZ4_adJvXNb-t4GlpirMzHdJ7yqPqV--venEPsZQRl4qeIH_ttxRFkc4to_aem_AcTtRevv8_wnS0U7KioY7HlXCBjhZHWWxm5ZcFSsCiLP6AcASYh7w1rap39QjKwVj2jVlimMFLh5kKpBVXRogX3J" target="_blank">
          <span>Get Tickets</span>
          <span>Get Tickets</span>
        </a>
      </div>
      <!-- END! fashion-week-ticket-link -->
    </div>
  </div>
  <!-- END! fashion-week-tickets -->

  <div class="home-hero-shape-two">
    <img
      src="https://ik.imagekit.io/uhvinpqxo/assets/images/brand/shapes/home-hero-section/home-hero-shape-two.png?updatedAt=1717400702516"
      alt="home-hero-shape-two"
    />
  </div>
  <!-- END! home-hero-shape-two -->
</section>
